#photos {
   
  /* line-height: 0;*/
   
grid-auto-flow: row dense;
   column-count:         2;
   column-gap:           0px;
}

#photos img {
grid-auto-flow: row dense;
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

body {
  margin: 0;
  padding: 0;
}
